@import "tailwindcss";

body {
  background: #0b1020;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Dark Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b #151515;
}
