@import "tailwindcss";

body {
  background: #0b1020;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Dark Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b #151515;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blueGlow {
  from {
    text-shadow:
      0 0 10px rgba(14, 165, 233, 0.4),
      0 0 20px rgba(14, 165, 233, 0.2);
  }

  to {
    text-shadow:
      0 0 20px rgba(14, 165, 233, 0.9),
      0 0 45px rgba(14, 165, 233, 0.5);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}
